{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ul class='post-list'>
      {{#each posts as |post|}}
    <li>
      <a class='post' href='/post/{{post.id}}'>
        <div class='blog-div'>
          <div class="blog-title">
            <p>{{post.title}}</p>
            <p><span>Posted on {{format_date post.created_at}}  --- <a class="edit-btn" href="/dashboard/edit/{{post.id}}">Edit Post</a></span></p>
          </div>
          <div class="blog-post">
            <p>{{post.blog}}</p>
          </div>          
        </div>
      </a>
    </li>
  {{/each}}
    </ul>
  </section>
{{/if}}

<section>
  <h2>Create New Post</h2>

  <form class='new-post-form'>
    <div>
      <label for='post-title'>Title:</label>
      <input type='text' id='post-title' name='post-title' />
    </div>
    <div>
      <p>Blog:</p>
      <textarea id='post-blog' name='post-blog'></textarea>
    </div>
    <button type='submit' class='btn'>Create</button>
  </form>
</section>

<script src='/js/add-post.js'></script>